p {
    font-size: 11px;
    text-align: justify;
}

.pagimg {
    width: 400px;
    height: 300px;
}

.timg {
    width: 400px;
    height: 300px;
}



.fab {
    width: 20px;
    height: 20px;
    font-size: 40px;
}

.nav-pills .nav-link.active {
    background-color: rgb(204, 201, 201) !important;
    color:white !important;
}

.nav-pills .nav-link {
    color:rgb(204, 201, 201) !important;
    
}

button {
    margin-top: 125px;
}

.tab-content {
    width:auto;
    margin:auto;
    display: flex;
    justify-content: center;
    padding-left: 15px;
}